@page
@model PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>C'IMPORTA <object data="/img/SEGA_logo.svg" type="image/svg+xml" width="150" height="50"/></p>

